@use '../../foundation/variable';
@use '../../foundation/mixin';

.p-footer {
    text-align: center;
    padding-bottom: 50px;
    &__sns-menu {
        padding-bottom: 30px;
        &__icon {
            font-size: 3.5rem;
            padding: 0 5px;
            @include mixin.breakpoint(tab) {
                font-size: 5rem;
            }
        }
    }
    &__nav {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        &__item {
            border-right: 1px solid #000;
            padding: 0 10px;
            line-height: 1;
            &:last-child {
                border: none;
              }

        }
    }
}